@font-face {
    font-family: NanumSquare;
    src: url('NanumSquare.ttf');
}

.game-title {
    text-shadow: rgb(135, 135, 135) 1px 1px 3px
}

.btncolor-menu {
    background-color: rgba(208, 208, 208, 1);
    color: rgba(34, 34, 34, 0.85);
    border: 2px solid rgba(69, 69, 69, 0.4);
}

.btncolor-menu:hover{
    background: rgb(97, 97, 97);
    border-color: rgb(97, 97, 97);
    color: rgba(255, 255, 255, 1);
}

.btncolor-menu:active{
    background: rgb(158, 158, 158);
    border-color: rgb(158, 158, 158);
    color: rgba(255, 255, 255, 1);
}

.btncolor-upgrade {
    background-color: rgba(255, 219, 219, 1);
    color: rgba(140, 0, 0, 1);
    border: 2px solid rgba(255, 120, 120, 1);
}

.btncolor-upgrade:hover{
    background: rgba(255, 120, 120, 1);
    border-color: rgba(255, 120, 120, 1);
    color: rgba(255, 255, 255, 1);
}

.btncolor-upgrade:active{
    background: rgb(255, 158, 158);
    border-color: rgba(255, 120, 120, 1);
    color: rgba(255, 255, 255, 1);
}

.menubtn {
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: NanumSquare,system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 27px;
    font-weight: 300;
    justify-content: center;
    height: 4rem;
    line-height: 1.25;
    margin: 0;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 5.5rem;
}

.menubtn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    font-weight: 800;
    width: 6rem;
}

.menubtn:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}

.upgradebtn-legacy{
    color: #8C0000;
    background: #FFDBDB;
    width: 200px;
    height: 100px;
    border: 2px solid #FF7878;
    border-radius: 6px;
    transition-duration: 0.2s;
    cursor: pointer;
    font-family: NanumSquare;
    font-size: 32px;
}

.upgradebtn {
position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid #FF7878;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0px;
    background: #ffffff;
    color: #ff4f4f;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.upgradebtn:hover {
    background: rgb(255, 61, 61);
    border-color: rgb(255, 61, 61);
    box-shadow: 0 0 20px 5px rgba(236, 0, 0, 0.4);
    color: #ffffff;
    text-shadow: rgba(255, 255, 255, 0.5) 0 0 8px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.upgradebtn:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.upgradebtn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #ffc5c5;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.upgradebtn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.upgradeContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}